@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #141414;
}

.navbar-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #141414;
    align-items: center;
    z-index: 99999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    color: white;
    padding: 20px 0px;
}

.navbar .logo a {
    color: white;
}

.nav-link ul {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link ul li {
    margin-right: 18px;
    list-style: none;
    transition: 0.2s;
}

.nav-link ul li:hover a {
    color: bisque;
}

.nav-link ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.footer {
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 20px 0px;
}

.footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer .footer-content .footer-link a {
    color: white;
    margin: 0px 14px;
}

.footer .footer-content .footer-link a:hover {
    color: bisque;
}


.footer p {
    color: rgb(199, 199, 199);
    width: 80%;
    font-size: 12px;
    font-weight: 100;
}